.content-header {
  margin-top:-67px;
}

.content-header .con-inner {
  height:110px;

  color:#745419;
  font-weight:bolder;
  text-shadow: 0px 1px 1px #fff;
  background-color: #E0E0E0;
  *background-color: #E0E0E0;
  background-image: -ms-linear-gradient(top, #F8F8F8, #E0E0E0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#E0E0E0));
  background-image: -webkit-linear-gradient(top, #F8F8F8, #E0E0E0);
  background-image: -o-linear-gradient(top, #F8F8F8, #E0E0E0);
  background-image: -moz-linear-gradient(top, #F8F8F8, #E0E0E0);
  background-image: linear-gradient(top, #F8F8F8, #E0E0E0);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E0E0E0', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);

  border-bottom: 1px solid #B7B7B7;
}


.content-header .con-inner .crumbster {
  margin-top:15px;
  height:25px;
  clear:both;
}


.content-header .con-inner .crumbster .crumbs{
  margin-left:0px;
  list-style:none;
  } 
.content-header .con-inner .crumbster .crumbs li, .content-header .con-inner .crumbster .crumbs a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
  } 
.content-header .con-inner .crumbster .crumbs a{
  text-shadow: 0px 1px 1px #fff;
  margin-right:20px;
  padding:0 5px 0 12px;
  background:#DDDDDD;
  color:#666;
  text-decoration:none;
  -moz-border-radius-bottomleft:4px;
  -webkit-border-bottom-left-radius:4px; 
  border-bottom-left-radius:4px;
  -moz-border-radius-topleft:4px;
  -webkit-border-top-left-radius:4px;  
  border-top-left-radius:4px;  
  }
.content-header .con-inner .crumbster .crumbs a:after{
  content:"";
  float:right;
  position:absolute;
  top:0;
  right:-12px;
  width:0;
  height:0;
  border-color:transparent transparent transparent #DDDDDD;
  border-style:solid;
  border-width:12px 0 12px 12px;    
  } 


.content-header .con-inner .crumbster .crumbs a:hover{background:#aaa; color:#fff; text-shadow: 0px 1px 1px #333;} 
.content-header .con-inner .crumbster .crumbs a:hover:after{border-color:transparent transparent transparent #aaa;}

.content-header .con-inner .crumbster .crumbs .current-folder a{
  margin-left:-10px;
  text-shadow: 0px 1px 1px #fff;
  padding:0 5px 0 12px;
  background:none;
  color:#206FCA;
  text-decoration:underline;
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px; 
  border-bottom-left-radius:0px;
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px; 
  border-top-left-radius:0px;
}

.content-header .con-inner .crumbster .crumbs .current-folder a:after{
  content:"";
  float:right;
  position:absolute;
  top:0;
  right:-12px;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:0;  
}

.content-header .con-inner .crumbster .crumbs .current-folder a:hover {
  background:none; color:#164C8B
}




.content-header .con-inner .titler {
  float:left;
  color:#303030;
  font-size:24px;
  margin-top:22px;
  text-shadow: rgba(255,255,255,0.8) 0 1px, rgba(100,100,100,0.2) -1px 0, rgba(100,100,100,0.4) 0 -1px, rgba(100,100,100,0.2) 1px 0;
}

.content-header .con-inner .buttonbox {
  float:right;
}

.content-header .con-inner .buttonbox .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  border:1px solid #ccc;
  color:#444;
  text-shadow: 0 1px 1px #fff;
  margin:-1px;
    background-color: #D9E8FF;
  background-image: -webkit-linear-gradient(top, #D9E8FF, #BDD6FC);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#D9E8FF), to(#BDD6FC));
  background-image: -moz-linear-gradient(top, #D9E8FF, #BDD6FC);
  background-image: -ms-linear-gradient(top, #D9E8FF, #BDD6FC);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9E8FF), color-stop(100%, #BDD6FC));
  background-image: -webkit-linear-gradient(top, #D9E8FF, #BDD6FC);
  background-image: -o-linear-gradient(top, #D9E8FF, #BDD6FC);
  background-image: linear-gradient(top, #D9E8FF, #BDD6FC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9E8FF', endColorstr='#BDD6FC', GradientType=0);

  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);  
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);  
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}












#newcreate-btn {
  font-size:16px;
  padding: 7px 13px 7px 13px;
  color:#fff;
  font-weight:bolder;
  text-shadow: 0 1px 0 #555;
  background-color: #649F2C;
  *background-color: #649F2C;
  background-image: -ms-linear-gradient(top, #B3D330, #649F2C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B3D330), to(#649F2C));
  background-image: -webkit-linear-gradient(top, #B3D330, #649F2C);
  background-image: -o-linear-gradient(top, #B3D330, #649F2C);
  background-image: -moz-linear-gradient(top, #B3D330, #649F2C);
  background-image: linear-gradient(top, #B3D330, #649F2C);
  background-repeat: repeat-x;
  border-color: rgba(133, 160, 31, 0.99) rgba(107, 140, 46, 0.99) rgba(78, 120, 138, 0.99);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#B3D330', endColorstr='#649F2C', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

#newcreate-btn:hover,
#newcreate-btn:active,
#newcreate-btn.active,
#newcreate-btn.disabled,
#newcreate-btn[disabled] {
  color:#fff;
  font-weight:bolder;
  background-color: #649F2C;
  *background-color: #649F2C;
}

#newcreate-btn:active,
#newcreate-btn.active {
  color:#fff;
  font-weight:bolder;
  background-color: #942a25 \9;
}

#newcreate-btn .plusser {
  position:relative;
  float:left;
  margin: 0 5px 0 -5px;
  font-size:28px;
  color:#588D20;
  font-weight:bolder;
  text-shadow: 0px 1px 1px #CDE958, 0px -1px  -1px #395D15;
  /* -1px -1px  -1px #395C15 */
}









#left-sidebar {
  margin-top:30px;
  width:200px;
  float:left;
}

#left-sidebar .conbox{
  margin-bottom:15px;

  border: 1px solid #ddd;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#left-sidebar .act-live {
  -moz-box-shadow:0 1px 3px rgba(34,25,25,0.3);
  -webkit-box-shadow:0 1px 3px rgba(34,25,25,0.3);
  box-shadow: 0 1px 3px rgba(34,25,25,0.3);

  background:#ffffff;

  border: 1px solid transparent;
}

#left-sidebar .conbox .headstrip{

}

#left-sidebar .conbox .headstrip .inner{
  font-size:16px;
  padding: 7px 13px 7px 8px;
  color:#303030;
  font-weight:bolder;
  text-shadow: 0 1px 0 #eee;


  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px; 
  border-top-right-radius:4px;
  -moz-border-radius-topleft:4px;
  -webkit-border-top-left-radius:4px;  
  border-top-left-radius:4px;
}

#left-sidebar .conbox .empty-tog {
  color:#777;
  text-align:center;
  margin:5px 0;
  font-size:11px;
}

#left-sidebar .conbox .quantity {
  font-size:13px;
  font-weight:bolder;
}

#left-sidebar .conbox .content-fill {

  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-bottomleft:4px;
  -webkit-border-bottom-left-radius:4px;  
  border-bottom-left-radius:4px;
}

#left-sidebar .conbox .content-fill .tag-group {
  margin:10px;
}

#left-sidebar .conbox .content-fill .tag-group .announce {
  font-weight:bolder;
  border-bottom:1px solid #999;

}

#left-sidebar .conbox .content-fill .tag-group .no-tags {
  color:#999;
  font-size:11px;
  margin-top:3px;
}

#left-sidebar .conbox .content-fill .tag-group .taggers {
  clear:both;

}

.empty-auto-hold {
  font-size:11px;
  font-style:italic;
  color:#666;
  position:absolute; 
  width:168px;
  margin-left:9px;
  margin-top:-9px;
  padding:4px 5px 4px 5px;
  display:none;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0;
  -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -khtml-border-top-right-radius: 0; border-top-right-radius: 0;
  border: 1px solid #bbb;
  border-top:none;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(top, #ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);

  -moz-box-shadow:0px 0px 2px #ccc;
  -webkit-box-shadow:0px 0px 2px #ccc;
  box-shadow:0px 0px 2px #ccc;
}





#left-sidebar .conbox .content-fill .share-group {
  margin:10px;
  border-bottom:1px solid #D3D3D3;
}

#left-sidebar .conbox .content-fill .share-group .announce {
  font-weight:bolder;
  font-size:14px;
  padding: 0 0 8px 0;
}

#left-sidebar .conbox .content-fill .share-group .ppl-image {
  float:left;
  margin-right:7px;
  height:16px;
}

#left-sidebar .conbox .content-fill .share-group .share-toggler {
  float:right;
  text-decoration:underline;
}





#left-sidebar .conbox .content-fill .add-area {
  background: #f7f7f7;
}

#left-sidebar .conbox .content-fill .add-field {
  margin-top:10px;
  margin-left:9px;
  width:170px;

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}




#addtags-btn {
  float:right;
  margin-top:-4px;
  margin-right:-7px;
  font-weight:bolder;
  font-size:12px;
  color:#333;
  padding: 3px 7px 3px 7px;

  background-image: -moz-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
  background-image: -ms-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
  background-image: -o-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), color-stop(49%, rgba(255,255,255,.15)), color-stop(51%, rgba(0,0,0,.1)), to(rgba(0,0,0,.15)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
  background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));

  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(210, 210, 210, 0.99) rgba(180, 180, 180, 0.99) rgba(159, 159, 159, 0.99);
}

#addtags-btn:hover,
#addtags-btn:active,
#addtags-btn.active,
#addtags-btn.disabled,
#addtags-btn[disabled] {
  color:#333;
  font-weight:bolder;
  background-color: #eee;
  *background-color: #eee;

  background-image: none;
}

#addtags-btn:active,
#addtags-btn.active {
  color:#333;
  font-weight:bolder;
  background-color: #942a25 \9;

  background-image: none;
}

.savebtn {
  color:#FFFFFF !important;
}

.savebtn:hover,
.savebtn:active,
.savebtn.active {
  color:#FFFFFF !important;
  background: #0472B2 !important;
}





.tags{
  clear:both;
  list-style:none;
  } 
.tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
  margin-bottom:5px;
  } 
.tags a{
  text-shadow: 0px 1px 1px #fff;
  margin-right:30px;
  margin-left:-12px;
  padding:0 10px 0 12px;
  background:#DDDDDD;
  color:#666;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  
  } 
.tags a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #DDDDDD transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;    
  } 
.tags a:after{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:0px 0px 2px #666;
  -webkit-box-shadow:0px 0px 2px #666;
  box-shadow:0px 0px 2px #666;
  }   

.tags a:hover{background:#aaa; color:#fff; text-shadow: 0px 1px 1px #333;} 
.tags a:hover:before{border-color:transparent #aaa transparent transparent;}

.tags .delcir {
  display:none;
  float:right;
  color:#fff;
  text-shadow: 0px 1px 1px #999;
  cursor:pointer;
  font-weight:bolder;
  right:65px;
  margin-right:-40px;
  margin-top:-5px;
  width: 16px;
  height: 16px;
  position: relative;
  line-height: 14px;
  text-align:center;
  background-color: #111111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#111111));
  background-image: -webkit-linear-gradient(top, #666666, #111111);
  background-image: -moz-linear-gradient(top, #666666, #111111); 
  background-image: -ms-linear-gradient(top, #666666, #111111); 
  background-image: -o-linear-gradient(top, #666666, #111111);
  background-image: linear-gradient(top, #666666, #111111);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.tags li:hover .delcir{
  display:block;
}

.tags .delcir:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#444444));
  background-image: -webkit-linear-gradient(top, #999999, #444444);
  background-image: -moz-linear-gradient(top, #999999, #444444); 
  background-image: -ms-linear-gradient(top, #999999, #444444); 
  background-image: -o-linear-gradient(top, #999999, #444444);
  background-image: linear-gradient(top, #999999, #444444);
}













#list-pane {
  float:right;
  width:710px;
  margin-top:30px;
}

#list-pane .descbox {
  border:1px solid #bbb;

  background-color: #FEFE86;


  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1); 

  margin-bottom:20px;
}

#list-pane .no-content{
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#list-pane .content-editable{
  cursor:pointer;
}



#list-pane .descbox .inner {
  border:1px solid #FDF05B;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  padding:15px;
  text-shadow: 0 1px 0 #fff;
}

#list-pane .descbox .inner h2{
  font-size:18px;
  margin-top:0px;
}

#list-pane .content-list {
  
}

#list-pane .content-list .content-item {
  background: #fff;
  height: 85px;
  margin-bottom:15px;
  cursor:pointer;
  padding:15px 15px 0 15px;



  -moz-box-shadow:0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.folder-preview {
  margin-top:-10px;
  margin-left:-11px;
  float:left;
  width:180px;
  height:91px;
  overflow:hidden;
  background-color:#fff;
  cursor:pointer;
}

.folder-preview:hover {
  -moz-box-shadow:0px 0px 6px #999;
  -webkit-box-shadow:0px 0px 6px #999;
  box-shadow:0px 0px 6px #999;
}

.folder-preview .single-hold {
  float:left;
  height: 92px;
  width:200px;
  display:block;
  text-align:center;
  overflow:hidden;
  position:relative;

   background-repeat:no-repeat;
   background-position:center;
   background-size:200px;
}

.folder-preview .primary-hold {
  float:left;
  height: 92px;
  width:130px;
  display:block;
  text-align:center;
  overflow:hidden;
  position:relative;

   background-repeat:no-repeat;
   background-position:center;
   background-size:150px;
}


.folder-preview .thumb-wrap {
  float:right;
}


.folder-preview .thumb1 {
  height:46px;
  width:49px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:100px;



}

.folder-preview .thumb2 {
  margin-top:1px;
  height:46px;
  width:49px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:100px;


}


#list-pane .content-list .content-item .titler{
  font-size:16px;
  font-weight:bolder;
  float:left;
  position:absolute;
  margin-left:185px;
  margin-top:5px;
}

#list-pane .content-list .content-item .descarea{
  font-size:12px;
  float:left;
  position:absolute;
  margin-left:185px;
  margin-top:40px;
  color:#666;
}

#list-pane .content-list .content-item .drop-tog{
  float:right;
  margin-top:15px;
}

#droptog-btn {
  padding: 12px 9px 10px 9px;
  color:#333;
  font-weight:bolder;
  text-shadow: 0 1px 0 #555;
  background-color: #E5E5E5;
  *background-color: #E5E5E5;
  background-image: -ms-linear-gradient(top, #F9F9F9, #E5E5E5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#E5E5E5));
  background-image: -webkit-linear-gradient(top, #F9F9F9, #E5E5E5);
  background-image: -o-linear-gradient(top, #F9F9F9, #E5E5E5);
  background-image: -moz-linear-gradient(top, #F9F9F9, #E5E5E5);
  background-image: linear-gradient(top, #F9F9F9, #E5E5E5);
  background-repeat: repeat-x;
  border-color: #E1E1E1 #D8D9D9 #CECED0;
  border-color: rgba(225, 225, 225, 0.99) rgba(216, 217, 217, 0.99) rgba(206, 206, 208, 0.99);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#E5E5E5', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

#droptog-btn:hover,
#droptog-btn:active,
#droptog-btn.active,
#droptog-btn.disabled,
#droptog-btn[disabled] {
  color:#333;
  font-weight:bolder;
  background-color: #E5E5E5;
  *background-color: #E5E5E5;

}

#droptog-btn:active,
#droptog-btn.active {
  color:#333;
  font-weight:bolder;
  background-color: #E5E5E5 \9;

}

.tog-arrow {
   width:0px; 
  height:0px; 
  border-left:7px solid transparent;
  border-right:7px solid transparent;
  border-top:7px solid #747474;
  font-size:0px;
  line-height:0px;
}


.dropper-tog {
  position:absolute;

  background: #fff;
  height: 85px;
  margin-top:-110px;
  margin-left:-200px;
  width:350px;
  cursor:pointer;
  padding:15px 15px 0 15px;
  z-index:1000;
  opacity: 0.01;
  filter: alpha(opacity=01);



  -moz-box-shadow:0 0px 4px rgba(34,25,25,0.5);
  -webkit-box-shadow:0 0px 4px rgba(34,25,25,0.5);
  box-shadow: 0 0px 4px rgba(34,25,25,0.5);

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.dropper-tog .big-text {
  margin-top:8px;
  font-size:24px;
  font-weight:bolder;
  width:100px;
  float:left;
  line-height:1.1em;
  margin-left:20px;
}

@-webkit-keyframes bounce {
   from {
      margin-top: 10px;
   }
   to {
      margin-top: 0px;
   }
}

.dropper-tog .tricontain {
  float:right;
  margin-right:15px;
  margin-top:7px;

  -webkit-animation-name: bounce;
   -webkit-animation-duration: 0.7s;
   -webkit-animation-iteration-count: 200;
   -webkit-animation-direction: alternate;
}

.dropper-tog .tricontain .fattie{
  width:24px;
  height:35px;
  background-color:#444;
}

.dropper-tog .tricontain .pointy{
  position:absolute;
  width:0px; 
  height:0px; 
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-top:20px solid #444;
  font-size:0px;
  line-height:0px;
  margin-left:-8px;
}

.placeBorder {
  position:absolute;
  margin-top:-115px;
  height: 77px;
  width:673px;
  margin-bottom:15px;
  padding:15px 15px 0 15px;

  border:4px dotted #ccc;
}

.dropperblue {
  background:#EBF3FF !important;
}
















/* This is the styling for the notepad wysi */
#wysitoolbar {
  position: relative;
  width:420px;
  margin-top:-40px;
  margin-left: 120px;
  display: block;
  border-radius: 4px;
  background: #eee;
  position: relative;
  z-index: 1;
  text-align: center;
  background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  font-size: 0;
  text-align: center;
}


.commands {
  border-left: 1px solid #ddd;
  display: inline-block;
}

[data-wysihtml5-command],
[data-wysihtml5-action],
.fore-color {
  position: relative;
  border-right: 1px solid #ddd;
  border-left: 1px solid #fff;
  list-style: none;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 50px;
  margin-bottom:-8px;
}

[data-wysihtml5-command]::after,
[data-wysihtml5-action]::after,
.fore-color::after {
  content: "";
  background-image: url(/claco/img/wytb.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

[data-wysihtml5-command]:hover,
[data-wysihtml5-action]:hover,
.fore-color:hover {
  background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
}

[data-wysihtml5-command="bold"]::after {
  background-position: 15px center;
}

[data-wysihtml5-command="italic"]::after {
  background-position: -40px center;
}

[data-wysihtml5-command="insertUnorderedList"]::after {
  background-position: -96px center;
}

[data-wysihtml5-command="insertOrderedList"]::after {
  background-position: -162px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after {
  background-position: -277px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after {
  background-position: -345px center;
}

[data-wysihtml5-command="createLink"]::after {
  background-position: -220px center;
}

[data-wysihtml5-command="insertImage"]::after {
  background-position: -513px center;
}

.fore-color::after {
  background-position: -741px center;
}

[data-wysihtml5-command="insertSpeech"]::after {
  background-position: -480px center;
}

[data-wysihtml5-action="change_view"]::after {
  background-position: -670px center;
}

.fore-color ul {
  display: none;
  position: absolute;
  z-index: 2;
  top: 40px;
  right: -1px;
  left: -2px;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  overflow: hidden;
}

.fore-color li {
  display: block;
  margin: 3px;
  width: auto;
  border: 0;
  height: 15px;
}

.fore-color li::after {
  display: none;
}

.fore-color:hover ul {
  display: block;
}

.fore-color [data-wysihtml5-command-value="silver"] {
  background: silver !important;
}


.fore-color [data-wysihtml5-command-value="gray"] {
  background: gray !important;
}

.fore-color [data-wysihtml5-command-value="maroon"] {
  background: maroon !important;
}

.fore-color [data-wysihtml5-command-value="red"] {
  background: red !important;
}

.fore-color [data-wysihtml5-command-value="purple"] {
  background: purple !important;
}

.fore-color [data-wysihtml5-command-value="green"] {
  background: green !important;
}

.fore-color [data-wysihtml5-command-value="olive"] {
  background: olive !important;
}

.fore-color [data-wysihtml5-command-value="navy"] {
  background: navy !important;
}

.fore-color [data-wysihtml5-command-value="blue"] {
  background: blue !important;
}

.fore-color .wysihtml5-command-active {
  outline: 1px solid #666;
  outline-offset: 1px;
}

.wysihtml5-commands-disabled .fore-color ul {
  display: none;
}

.wysihtml5-action-active,
.wysihtml5-command-active {
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
  background: #eee !important;
}

.wysihtml5-commands-disabled [data-wysihtml5-command],
.wysihtml5-commands-disabled .fore-color {
  opacity: 0.4;
  cursor: default;
  background-image: none !important;
}

[data-wysihtml5-dialog] {
  color: #333;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;

  background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgbshoot me an email(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);

  border: 1px solid #ccc;
  padding: 5px 10px;
  position: absolute;
  width: 500px;
  text-align: center;
  top: 35px;
  left: -50px;
}

[data-wysihtml5-dialog] input {
  color: #333;
  border: 1px solid #ccc;
  padding: 3px;
  width: 300px;
}

[data-wysihtml5-dialog] input:focus {
  outline: 0;
  border: 1px solid #666;
}

[data-wysihtml5-dialog-action] {
  padding: 4px;
  color: #fff;
  cursor: pointer;
}

[data-wysihtml5-dialog-action="save"] {
  background: #007200;
}

[data-wysihtml5-dialog-action="cancel"] {
  background: #999;
}

section {
  position: relative;
  width: 100%;
}

.danotepad {

  width: 100%;
  background: transparent;
  height: 200px;
  border: 0;
  resize: none;
  white-space: pre;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  word-wrap: normal;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.4);
  outline: 0;
}

.danotepad:focus {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.4);
  outline: 0;
}

a.fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.wysi-edit {
  display:none;
}

.save-wysi {
  float:right;
  z-index:1000;
  font-size:13px;
  font-weight:bolder;
  margin-bottom:-10px;
  padding:5px 10px 5px 10px;
}