.backRect {
  border:1px solid #ccc;
  background:#fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width:595px;
  margin-left:140px;
  padding:20px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
          box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.pubfoot {
  margin-top:20px;
}
.pubfoot .leftboxer {
  float:left;
  width:310px;
  height:180px;
  margin-left:120px;
  margin-right:15px;
}

.pubfoot .leftboxer .videoText {
  width:158px;
  height:90px;
  margin-left: 8px;
  margin-right:-8px;
  float:right;
  color:#777;
  line-height:1.2em;
}

.pubfoot .leftboxer .videoTitle {
  margin-bottom:5px;
  font-weight:bolder;
}

.pubfoot .featureBtn {
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #F7F7F7, #eeeeee);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#F7F7F7), to(#eeeeee));
  background-image: -moz-linear-gradient(top, #F7F7F7, #eeeeee);
  background-image: -ms-linear-gradient(top, #F7F7F7, #eeeeee);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #F7F7F7, #eeeeee);
  background-image: -o-linear-gradient(top, #F7F7F7, #eeeeee);
  background-image: linear-gradient(top, #F7F7F7, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#eeeeee', GradientType=0);
  
}

.pubfoot .leftboxer .videoPreview {
  float:left;
  cursor:pointer;
  width:120px;
  height:90px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.55);
     -moz-box-shadow: 0 1px 5px rgba(0,0,0,.55);
          box-shadow: 0 1px 5px rgba(0,0,0,.55);
}

.pubfoot .leftboxer .videoPreview:hover {
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.85);
     -moz-box-shadow: 0 1px 8px rgba(0,0,0,.85);
          box-shadow: 0 1px 8px rgba(0,0,0,.85);
  
}

.pubfoot .leftboxer .videoPreview .playBtn {
  margin-left:44px;
  margin-top:29px;
}

.pubfoot .rightboxer {
  float:left;
  width:290px;
  margin-left:5px;
}
.pubfoot .copyrighter {
  color:#999;
  font-size:13px;
  clear:both;
  text-align:center;
  padding-top:5px;
}